header {
    padding: 0.5%;
    text-align: center;
}

header h1 { 
    font-family: "Copperplate Gothic Light"; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

nav {
    display: flex;
    flex-direction: row;
}

div.branding {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-grow: 4;
}

nav h1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
}

nav h4 {
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
}

div.redirection {
    display: flex;
    right: 5vw;
    padding: 0.5vwh;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: center;
    align-items: center;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    border-style: solid;
    padding: 1vw;
    margin: 1vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: flex-start safe;
}

#top {
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0% 3% 3% 3%;
    margin-top: 0px;
}

.container-header {
    /*text-align: center;*/
    margin-bottom: 0px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.project-item {
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    padding: 0% 1% 0% 0%;
}

footer {
    padding: 0.25%;
    text-align: center;
}