body {
    background-color: #F09D51;
    color: #313638;
}

nav {
    background-color: #313638;
}

nav a {
    color: #E8E9EB;
    border-top-style: solid;
    border-bottom-style: solid;
    border-style: solid;
    border-color: #313638;
}

nav a:hover {
    background-color: #E0DFD5;
    color: #313638;
}

header {
    background-color: #F09D51;
}

.content {
    background-color: white;
}

/*footer {
    background-color: #E0DFD5;
    border-top-style: solid;
    border-color: #F06543;
}*/

footer {
    background-color: #F06543;
    color: #E0DFD5;
    border-top-style: solid;
    border-width: 5px;
    border-color: #313638;
}